<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.GroupProject.VisualKeeper"
        version   = "1.0.0">
    <name>Visual Keeper</name>

    <author href="http://www.abeltsanchez.com" email="bossbiga123@gmail.com">
        Jared Cahalan & Abel Sanchez
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="2.0.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />

    <feature name="http://api.phonegap.com/1.0/geolocation"/>

    <icon src="icons/VisualKeeper.png" width="57" height="57" />
    <icon src="icons/VisualKeeper.png" width="72" height="72" />

</widget>