@media screen and (min-width: 801px) {
  #taskPhoto {
    float: left;
  }
  #taskInfo {
    float: left;
  }
  #photoButton{
    width: 25%; 
  }
  #menuButton{
    width: 25%;
  }
}

@media screen and (max-width: 800px) {
  #taskPhoto {
    width: 100%;
  }
  #taskInfo {
    width: 100%;
  }
}