@media screen and (min-width: 801px) {
  #taskPhoto {
    float: left;
  }
  #taskInfo {
    float: left;
  }
  #photoButton{
    width: 25%; 
  }
  #menuButton{
    width: 25%;
  }
}

@media screen and (max-width: 800px) {
  #taskPhoto {
    width: 100%;
  }
  #taskInfo {
    width: 100%;
  }
  #viewTaskContent{
    text-align: center;
  }
  #viewTaskContent > label{
    text-align: left;
  }
  #notifycheckbox{
    width:50%;
  }
}
#new{

}
#deleteDialog .ui-header a {
  display: none;
}
/*#dispContainer > p{
  display:inline;
}*/
